:root {
  --nat-navbar-bg: CornflowerBlue;
  --nat-navbar-bg-color: CornflowerBlue;
  --nat-navbar-bg-rgb: 100, 149, 237;
  --nat-navbar-text-color: white;
  --nat-home-text-color: white;
}

html,
body {
  --bs-dark: var(--nat-navbar-bg);
  --bs-light-rgb: 236, 236, 236;
  --bs-dark-rgb: var(--nat-navbar-bg-rgb);
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background: fixed center url("/tuxedosam.webp");
  background-size: cover;
}

body .navbar {
  --bs-navbar-color: var(--nat-navbar-text-color);
  --bs-navbar-brand-color: var(--nat-navbar-text-color);
  --bs-navbar-hover-color: var(--nat-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--nat-navbar-text-color);
  --bs-navbar-active-color: var(--nat-navbar-text-color);
}

footer, footer a {
  color: var(--nat-navbar-text-color);
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#landing-page {
  color: var(--nat-home-text-color);
}

#landing-page i {
  color: var(--nat-home-text-color);
}